@font-face {
      font-family: 'segments';
      src: url('../fonts/SevenSegment.ttf') format(TrueType);
}

*, *::before, *::after {
      box-sizing: border-box;
}

body {
      background-color: whitesmoke;
      margin: 0;
}

.container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.calculator {
      width: 250px; 
      background-color: #c7c7c7;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);      
}

.line {
      display: flex;
}

.display {
      background-color: lightcyan;
      font-family: 'segments';
      font-size: 30px;
      font-weight: bold;
      text-align: end;
      padding: 5px;
}

/* _______ */
/* Boutons */
/* _______ */

.calculator form input {
      flex-grow: 1;
      border: 0;
      outline: 0;
      width: 50px;
      height: 50px;
      border-radius: 4px;
      cursor: crosshair;
      margin: 4px;
}

/* _______________ */
/* Boutons colorés */
/* _______________ */

.clear {
      background-color: #5ab08b;
}

.clear:hover { 
      background-color: #4b7e68
}

.del {
      background-color: #5e7bc7;
}

.del:hover {
      background-color: #465b8f;
}

.equal {
      background-color: #f16662;
}

.equal:hover {
      background-color: #aa4946;
}

.zero {
      background-color: #fbc74f;
}

.zero:hover {
      background-color: #c09a41;
}